<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bankName</key>
		<string>中国招商银行</string>
		<key>bankColor</key>
		<string>#f27ca9</string>
		<key>bankImage</key>
		<string>icon_bank_zhaoshang</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国工商银行</string>
		<key>bankColor</key>
		<string>#fb9077</string>
		<key>bankImage</key>
		<string>icon_bank_gongshang</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国农业银行</string>
		<key>bankColor</key>
		<string>#85bfd2</string>
		<key>bankImage</key>
		<string>icon_bank_nongye</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国农业银行</string>
		<key>bankColor</key>
		<string>#85bfd2</string>
		<key>bankImage</key>
		<string>icon_bank_nongye</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国建设银行</string>
		<key>bankColor</key>
		<string>#9fa5d9</string>
		<key>bankImage</key>
		<string>icon_bank_jianshe</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国银行</string>
		<key>bankColor</key>
		<string>#f27ca9</string>
		<key>bankImage</key>
		<string>icon_bank_zhongguo</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国光大银行</string>
		<key>bankColor</key>
		<string>#b182c7</string>
		<key>bankImage</key>
		<string>icon_bank_guangda</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国中信银行</string>
		<key>bankColor</key>
		<string>#b182c7</string>
		<key>bankImage</key>
		<string>icon_bank_zhongxin</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国交通银行</string>
		<key>bankColor</key>
		<string>#9fa5d9</string>
		<key>bankImage</key>
		<string>icon_bank_jiaotong</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国兴业银行</string>
		<key>bankColor</key>
		<string>#9fa5d9</string>
		<key>bankImage</key>
		<string>icon_bank_xingye</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国浦发银行</string>
		<key>bankColor</key>
		<string>#9fa5d9</string>
		<key>bankImage</key>
		<string>icon_bank_pufa</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>深圳发展银行</string>
		<key>bankColor</key>
		<string>#9fa5d9</string>
		<key>bankImage</key>
		<string>icon_bank_fazhan</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国民生银行</string>
		<key>bankColor</key>
		<string>#85bfd2</string>
		<key>bankImage</key>
		<string>icon_bank_minsheng</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国平安银行</string>
		<key>bankColor</key>
		<string>#ff7c59</string>
		<key>bankImage</key>
		<string>icon_bank_pingan</string>
	</dict>
</array>
</plist>
